/* ---------- CHECKOUT FOOTER ---------- */
.checkout-footer-grid-per-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.checkout-section__footer {
    margin-bottom: 12px;
    background-color: white;
}

.checkout-footer-with-payment-section {
    margin-top: 20px;
}

.checkout-footer {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 895px 135px 150px;
    column-gap: 10px;
    border-top: 1px dashed rgba(0, 0, 0, 0.09);
}

.checkout-footer__title {
    grid-column-end: 3;
    grid-column-start: 2;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}

.checkout-footer-total-price {
    grid-column-end: 4;
    grid-column-start: 3;
    justify-content: flex-end;
    padding: 0 25px 0 10px;
    height: 50px;
    min-width: 100px;
    font-size: 28px;
    line-height: 33.6px;
    font-weight: 500;
    color: black;
}

.checkout-footer-with-button-order {
    grid-column-end: 4;
    grid-column-start: 1;
    justify-content: flex-end;
    min-height: 95px;
    margin-top: 10px;
    padding: 0 30px;
    border-top: 1px dashed rgba(0, 0, 0, 0.09);
}

.checkout-footer-button-order {
    box-sizing: border-box;
    justify-content: center;
    height: 40px;
    width: 210px;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 500;
    background-color: black;
    color: white;
}